@charset "UTF-8";
/* 토스트 알림 속성 값 */
:root {
  --toast-area-padding: 0 8px 40px;

  --toast-padding: 12px 16px;
  --toast-radius: 6px;

  --toast-font: var(--main);
  --toast-background: var(--anti);
  --toast-shadow: var(--shadow);
}

/* 토스트 알림 */
toast {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 40px;
  padding: var(--toast-area-padding);
  z-index: 110;

  width: 100%;

  pointer-events: none;
}

toast > toastmain {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--toast-padding);

  max-width: 600px;
  width: max-content;
  height: 100%;

  color: var(--toast-font);
  border-radius: var(--toast-radius);
  background-color: var(--toast-background);
  box-shadow: var(--toast-shadow);
  pointer-events: auto;
}

toast > toastmain > * { flex-shrink: 0; }