@charset "UTF-8";
/* 툴바 공통 */
:root {
  --toolbar-padding: 4px;
  --toolbar-gap: 4px;
  --toolbar-radius: 10px;

  --toolbar-border: var(--border);
  --toolbar-background: var(--main);
  --toolbar-shadow: var(--shadow);

  --toolbar-partition-size: 30px;
}

/* 툴바 */
toolbar {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--toolbar-gap);
  padding: var(--toolbar-padding);
  overflow-y: hidden;

  max-width: calc(100% - var(--margin) * 2);
  width: max-content;
  height: max-content;

  border: solid 1px var(--toolbar-border);
  border-radius: var(--toolbar-radius);
  background-color: var(--toolbar-background);
  box-shadow: var(--toolbar-shadow);
}

toolbar > * { flex-shrink: 0; }

toolbar > .divline {
  width: 1px;
  height: var(--toolbar-partition-size);

  background-color: var(--toolbar-border);
}