@charset "UTF-8";
/* 데모 페이지용 스타일 */
body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;

  width: 100%;
  height: 100dvh;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 10;

  width: 100%;
  height: 65px;

  border-bottom: solid 1px oklch(from var(--anti) l c h/0.1);
  background-color: oklch(from var(--main) l c h/0.5);
  backdrop-filter: blur(15px);
}

main {
  display: flex;
  position: relative;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 65px;

  height: max-content;
  flex-shrink: 0;
}

nav { width: 100%; }

.wrap {
  position: relative;
  padding: var(--padding);

  max-width: 100%;
  width: calc(1200px + var(--padding) * 2);
  height: max-content;
  flex-shrink: 0;
}
.wrap > *:not(:last-child) { margin-bottom: var(--gap); }

#logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

#symbol,
#logotype { height: 48px; }

#float-menu {
  display: flex;
  position: fixed;
  right: 10px;
  bottom: 10px;
  gap: 4px;
  z-index: 9;
}

.demo-view { width: 100%; }

#icon-table {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--gap);
}

#icon-table > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  padding: var(--padding-large) var(--padding);

  border: solid 1px var(--border);
  border-radius: var(--radius);
  --icon: var(--font);
}

@media screen and (max-width: 1216px) {
  #logotype { display: none; }
  
  #icon-table { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}