@charset "UTF-8";
/* 메뉴 속성 값 */
:root {
  --panel-area-padding: 8px;
  --panel-radius: var(--radius-0);

  --panel-border-outer-width: 1px;
  --panel-border-outer-active: var(--depth-border);

  --panel-border-inner-width: 0px;

  --panel-inner-padding: 8px;
  --panel-inner-background: var(--main);
  --panel-inner-shadow: var(--shadow);

  --panel-titlebar-size: 40px;
  --panel-titlebar-padding: 8px;
  --panel-titlebar-gap: 4px;
  --panel-titlebar-active: var(--main);
  --panel-titlebar-font-active: var(--font);

  --panel-bottom-padding: 8px;
  --panel-bottom-gap: 4px;
  --panel-bottom-border-width: 0px;
  --panel-bottom-border: var(--depth-1);
  --panel-bottom-background: var(--sub);
}

/* 메뉴 */
panel {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  padding: var(--panel-area-padding);
  z-index: 99;
  overflow: hidden;

  width: 100%;
  height: 100%;
  
  pointer-events: none;
}

panel > inner {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: var(--panel-border-inner-width);
  z-index: 1;
  overflow: hidden;

  max-width: calc(100dvw - var(--panel-area-padding) * 2);
  max-height: calc(100dvh - var(--panel-area-padding) * 2);
  flex-shrink: 0;

  border: solid var(--panel-border-outer-width) var(--panel-border-outer-active);
  border-radius: var(--panel-radius);
  background-color: var(--panel-inner-background);
  box-shadow: var(--panel-inner-shadow);
  pointer-events: auto;
}

:is(panel:not([right], [top], [bottom], [center]), panel[left]) > inner {
  left: var(--panel-area-padding);
  top: var(--panel-area-padding);

  width: 350px;
  height: 100%;
}

panel[right] > inner {
  right: var(--panel-area-padding);
  top: var(--panel-area-padding);

  width: 350px;
  height: 100%;
}

panel[top] > inner {
  top: var(--panel-area-padding);

  width: 350px;
  height: max-content;
}

panel[bottom] > inner {
  bottom: var(--panel-area-padding);

  width: 350px;
  height: max-content;
}

panel[center] > inner {
  width: 350px;
  height: max-content;
}

panel > outer {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  
  width: 100%;
  height: 100%;

  background-color: oklch(from var(--main) l c h/0.7);
  backdrop-filter: blur(15px);
  opacity: 1;
  pointer-events: auto;

  transition: opacity var(--duration-ui);
}

/* 제목 표시줄 */
panel > inner > titlebar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: var(--panel-titlebar-size);

  background-color: var(--panel-titlebar-active);
  user-select: none;
  touch-action: none;
}

panel > inner > titlebar > :is(.left, .right) {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  width: max-content;
  height: inherit;

  background-color: inherit;
}

panel > inner > titlebar > .left {
  gap: var(--panel-titlebar-gap);
  padding: 0 var(--panel-titlebar-padding);
  margin-right: auto;
  overflow: hidden;

  width: auto;

  pointer-events: none;
}
panel > inner > titlebar > .left > .icon {
  overflow: hidden;
  order: -1;

  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
panel > inner > titlebar > .left > span {
  overflow: hidden;
  
  color: var(--panel-titlebar-font-active);
  text-overflow: ellipsis;
  white-space: nowrap;
}

panel > inner > titlebar > .right {
  flex-direction: row-reverse;
  margin-left: auto;

  --icon: var(--panel-titlebar-font-active);
}
panel > inner > titlebar > .right > button {
  justify-content: center;

  height: 100%;
  aspect-ratio: 1/1;

  border-radius: unset;
  background-color: var(--panel-titlebar-active);
}
panel > inner > titlebar > .right > button::before { border: unset; }

/* 주 영역 */
panel > inner > panelmain {
  display: block;
  padding: var(--panel-inner-padding);
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  height: 100%;
  flex: 1;
}

/* 하단 영역 */
panel > inner > bottom {
  display: block;
  position: relative;
  margin-top: auto;
  padding: var(--panel-bottom-padding);

  width: 100%;

  border-top: solid var(--panel-bottom-border-width) var(--panel-bottom-border);
  background-color: var(--panel-bottom-background);
}

@media screen and (max-width: 400px) {
  panel > inner { width: 100% !important; }
}