@charset "UTF-8";
/* 레인지 슬라이더 속성 값 */
:root {
  --range-label-gap: 4px;
  --range-label-size: 36px;
  --range-label-radius: var(--radius-0);
  --range-label-border-width: 0px;
  --range-label-border: var(--border);
  --range-label-background: var(--depth);

  --range-track-size: 4px;
  --range-track-padding: 4px;
  --range-track-radius: 2px;
  --range-track-background: oklch(from var(--main) l c h/0);

  --range-track-indicator-offset: calc(var(--range-track-padding) * 2 + var(--range-thumb-size) / 4);
  --range-track-indicator-size: calc(100% - var(--range-track-indicator-offset) * 2);

  --range-thumb-size: 18px;
  --range-thumb-radius: 9px;
  --range-thumb-border: var(--border);
  --range-thumb-background: var(--border);
}

/* 레인지 슬라이더 */
input[type="range"] {
  appearance: none;

  padding: var(--range-track-padding);

  height: 100%;

  border-radius: var(--range-track-radius);
  background-color: var(--range-track-background);

  transition: background-color var(--duration-ui);
}

input[type="range"]::-webkit-slider-thumb{
  appearance: none;

  box-sizing: border-box;

  width: var(--range-thumb-size);
  height: var(--range-thumb-size);

  border: solid 1px var(--range-thumb-border);
  border-radius: var(--range-thumb-radius);
  background-color: var(--range-thumb-background);

  transition: var(--duration-ui);
  transition-property: border-color, background-color;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;

  box-sizing: border-box;

  width: var(--range-thumb-size);
  height: var(--range-thumb-size);

  border: solid 1px var(--range-thumb-border);
  border-radius: var(--range-thumb-radius);
  background-color: var(--range-thumb-background);

  transition: var(--duration-ui);
  transition-property: border-color, background-color;
}

/* 레인지 슬라이더 라벨 */
label:has(>input[type="range"]) {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--range-label-gap);

  height: var(--range-label-size);

  border: solid var(--range-label-border-width) var(--range-label-border);
  border-radius: var(--range-label-radius);
  background-color: var(--range-label-background);
}

label:has(>input[type="range"])::before {
  position: absolute;
  left: var(--range-track-indicator-offset);
  z-index: 0;

  width: var(--range-track-indicator-size);
  height: 1px;

  background-color: var(--range-label-border);
  content: "";
  pointer-events: none;
  
  transition: background-color var(--duration-ui);
}

label:has(>input[type="range"]) > input[type="range"] { z-index: 0; }

label:has(>input[type="range"])::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  background-color: var(--anti);
  opacity: 0;
  content: "";
  pointer-events: none;
  
  transition: opacity var(--duration-ui);
}

/* 활성화된 레인지 슬라이더 */
input[type="range"]:not(:disabled),
label:has(>input[type="range"]:not(:disabled)) { cursor: ew-resize; }

label:has(>input[type="range"]:not(:disabled)):hover::after { opacity: 0.1; }
label:has(>input[type="range"]:not(:disabled)):active::after { opacity: 0.2; }

:is(label:has(>input[type="range"]:not(:disabled)):hover, label:has(>input[type="range"]:not(:disabled)):active):not([accent], [red], [orange], [yellow], [green], [blue], [navy], [purple], [turquoise], [skyblue], [pink]) {
  border-color: var(--accent);
  background-color: oklch(from var(--accent) l c h/0.5);
}

:is(label:has(>input[type="range"]:not(:disabled)):hover, label:has(>input[type="range"]:not(:disabled)):active):not([accent], [red], [orange], [yellow], [green], [blue], [navy], [purple], [turquoise], [skyblue], [pink])::before { background-color: var(--accent); }

:is(label:has(>input[type="range"]:not(:disabled)):hover, label:has(>input[type="range"]:not(:disabled)):active):not([accent], [red], [orange], [yellow], [green], [blue], [navy], [purple], [turquoise], [skyblue], [pink]) > input[type="range"]::-webkit-slider-thumb {
  border-color: var(--accent);
  background-color: var(--accent);
}

:is(label:has(>input[type="range"]:not(:disabled)):hover, label:has(>input[type="range"]:not(:disabled)):active):not([accent], [red], [orange], [yellow], [green], [blue], [navy], [purple], [turquoise], [skyblue], [pink]) > input[type="range"]::-moz-range-thumb {
  border-color: var(--accent);
  background-color: var(--accent);
}

/* 비활성화된 레인지 슬라이더 */
input[type="range"]:disabled { cursor: no-drop; }

label:has(>input[type="range"]:disabled) { cursor: no-drop; }

label:has(>input[type="range"]:disabled)::after {
  background-color: oklch(from var(--range-label-border) l c h/0.5);
  opacity: 1;
}

label:has(>input[type="range"]:disabled) > input[type="range"]::-webkit-slider-thumb { background-color: var(--range-label-background); }
label:has(>input[type="range"]:disabled) > input[type="range"]::-moz-range-thumb { background-color: var(--range-label-background); }

/* 활성화된 색상형 레인지 슬라이더 */
label:has(>input[type="range"]:not(:disabled))[accent] {
  --range-label-border: var(--accent);
  --range-label-background: oklch(from var(--accent) l c h/0.5);
  --range-thumb-border: var(--accent);
  --range-thumb-background: var(--accent);
}

label:has(>input[type="range"]:not(:disabled))[red] {
  --range-label-border: var(--red);
  --range-label-background: oklch(from var(--red) l c h/0.5);
  --range-thumb-border: var(--red);
  --range-thumb-background: var(--red);
}

label:has(>input[type="range"]:not(:disabled))[orange] {
  --range-label-border: var(--orange);
  --range-label-background: oklch(from var(--orange) l c h/0.5);
  --range-thumb-border: var(--orange);
  --range-thumb-background: var(--orange);
}

label:has(>input[type="range"]:not(:disabled))[yellow] {
  --range-label-border: var(--yellow);
  --range-label-background: oklch(from var(--yellow) l c h/0.5);
  --range-thumb-border: var(--yellow);
  --range-thumb-background: var(--yellow);
}

label:has(>input[type="range"]:not(:disabled))[green] {
  --range-label-border: var(--green);
  --range-label-background: oklch(from var(--green) l c h/0.5);
  --range-thumb-border: var(--green);
  --range-thumb-background: var(--green);
}

label:has(>input[type="range"]:not(:disabled))[blue] {
  --range-label-border: var(--blue);
  --range-label-background: oklch(from var(--blue) l c h/0.5);
  --range-thumb-border: var(--blue);
  --range-thumb-background: var(--blue);
}

label:has(>input[type="range"]:not(:disabled))[navy] {
  --range-label-border: var(--navy);
  --range-label-background: oklch(from var(--navy) l c h/0.5);
  --range-thumb-border: var(--navy);
  --range-thumb-background: var(--navy);
}

label:has(>input[type="range"]:not(:disabled))[purple] {
  --range-label-border: var(--purple);
  --range-label-background: oklch(from var(--purple) l c h/0.5);
  --range-thumb-border: var(--purple);
  --range-thumb-background: var(--purple);
}

label:has(>input[type="range"]:not(:disabled))[turquoise] {
  --range-label-border: var(--turquoise);
  --range-label-background: oklch(from var(--turquoise) l c h/0.5);
  --range-thumb-border: var(--turquoise);
  --range-thumb-background: var(--turquoise);
}

label:has(>input[type="range"]:not(:disabled))[skyblue] {
  --range-label-border: var(--skyblue);
  --range-label-background: oklch(from var(--skyblue) l c h/0.5);
  --range-thumb-border: var(--skyblue);
  --range-thumb-background: var(--skyblue);
}

label:has(>input[type="range"]:not(:disabled))[pink] {
  --range-label-border: var(--pink);
  --range-label-background: oklch(from var(--pink) l c h/0.5);
  --range-thumb-border: var(--pink);
  --range-thumb-background: var(--pink);
}

/* 레인지 슬라이더 컨트롤러 */
label[controller]:has(>input[type="range"]) + label.range-input:has(input[type="text"]) > input[type="text"] {
  width: 70px;

  text-align: right;
}