@charset "UTF-8";
/* 인풋, 라벨 그룹화 */
[withnext]:has(+:is(label, button)) {
  margin-right: calc(var(--gap) * -1);

  border-right: unset !important;
  border-top-right-radius: unset !important;
  border-bottom-right-radius: unset !important;
}
[withnext]:has(+:is(label, button))::before { border-right: unset !important; }

[withnext]:has(+:is(label, button)) + :is(label, button) {
  border-top-left-radius: unset !important;
  border-bottom-left-radius: unset !important;
}