<script src="./views/demo-inputs.js" runner partial></script>
<div class="list-row">
  <label style="width:200px;" withnext><i class="search"></i><input type="text" placeholder="검색"></label>
  <button><i class="arrow-e"></i></button>
  <label><input type="checkbox" autocomplete="off"><div class="toggle"></div><span>검색</span></label>
</div>
<div class="list-row" aligncenter>
  <span>버튼 그룹화</span>
  <button withnext><span>버튼 1</span></button>
  <button withnext><span>버튼 2</span></button>
  <button withnext><span>버튼 3</span></button>
</div>
<div class="list-row">
  <button><i class="menu"></i></button>
  <button outline><i class="flag"></i></button>
  <button id="demo-button-send-loading"><i class="location-arrow"></i><span>누르면 로딩 표시</span></button>
  <button blank><i class="sparkle"></i>버튼</button>
  <button accent><i class="toggle-on"></i><span>악센트 색상</span></button>
</div>
<div class="list-row">
  <label><input type="checkbox" autocomplete="off"><span>가나다</span></label>
  <label><input type="checkbox" autocomplete="off" checked><span>가나다</span></label>
  <label><input type="checkbox" autocomplete="off" indeterminate><span>가나다</span></label>
  <label><input type="checkbox" autocomplete="off" disabled><span>가나다</span></label>
  <label><input type="checkbox" autocomplete="off" checked disabled><span>가나다</span></label>
</div>
<div class="list-row">
  <label><input type="radio" autocomplete="off"><span>가나다</span></label>
  <label><input type="radio" autocomplete="off" checked><span>가나다</span></label>
  <label><input type="radio" autocomplete="off" disabled><span>가나다</span></label>
  <label><input type="radio" autocomplete="off" checked disabled><span>가나다</span></label>
</div>
<il class="loading-wheel"></il>
<il class="hourglass-spin"></il>
<div class="list-row">
  <label style="width: 300px;">
    <select id="test-select" multiple>
      <option value="">선택하세요</option>
      <option value="1">선택 1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</option>
      <option value="2" selected>선택 2</option>
      <option value="3">선택 3</option>
      <option value="4" disabled>선택 4</option>
      <option value="5">선택 5</option>
      <option value="6">선택 6</option>
      <option value="7">선택 7</option>
      <option value="8" disabled>선택 8</option>
      <option value="9">선택 9</option>
      <option value="10">선택 10</option>
    </select>
  </label>
</div>