<script src="./views/demo-sidemenus.js" runner></script>
<div class="list-row">
  <button id="demo-open-sidemenu-left"><i class="tracking"></i><span>왼쪽 패널 열기</span></button>
  <button id="demo-open-sidemenu-right"><i class="tracking"></i><span>오른쪽 패널 열기</span></button>
  <button id="demo-open-sidemenu-top"><i class="tracking"></i><span>위쪽 패널 열기</span></button>
  <button id="demo-open-sidemenu-bottom"><i class="tracking"></i><span>아래쪽 패널 열기</span></button>
  <button id="demo-open-sidemenu-center"><i class="tracking"></i><span>가운데 패널 열기</span></button>
</div>
<div class="list-row">
  <button id="demo-create-sidemenu-left"><i class="tracking"></i><span>왼쪽 패널 생성</span></button>
  <button id="demo-create-sidemenu-right"><i class="tracking"></i><span>오른쪽 패널 생성</span></button>
  <button id="demo-create-sidemenu-top"><i class="tracking"></i><span>위쪽 패널 생성</span></button>
  <button id="demo-create-sidemenu-bottom"><i class="tracking"></i><span>아래쪽 패널 생성</span></button>
  <button id="demo-create-sidemenu-center"><i class="tracking"></i><span>가운데 패널 생성</span></button>
</div>
<div class="list-row">
  <button id="demo-close-active-panel"><i class="tracking"></i><span>활성화 패널 닫기</span></button>
</div>