<div class="list-grid">
  <div class="wrap">
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
    <div style="height: 100px; background-color: var(--border);"></div>
  </div>
</div>