@charset "UTF-8";
/* display 값 */
[none] { display: none !important; }
[block] { display: block !important; }
[inline] { display: inline !important; }
[inline-block] { display: inline-block !important; }
[flex] { display: flex !important; }
[grid] { display: grid !important; }

/* 텍스트 옵션 */
[bolder] { font-weight: 900 !important; }
[bold] { font-weight: 700 !important; }
[weight-normal] { font-weight: 400 !important; }
[light] { font-weight: 200 !important; }
[lighter] { font-weight: 100 !important; }

[style-normal] { font-style: normal !important; }
[italic] { font-style: italic !important; }
[oblique] { font-style: oblique !important; }

[underline] { text-decoration-line: underline !important;}
[line-through] { text-decoration-line: line-through !important;}
[overline] { text-decoration-line: overline !important;}
[underline][line-through] { text-decoration-line: underline line-through !important; }
[line-through][overline] { text-decoration-line: line-through overline !important; }
[underline][overline] { text-decoration-line: underline overline !important; }
[underline][line-through][overline] { text-decoration-line: underline line-through overline !important; }

[text-left] { text-align: left !important; }
[text-center] { text-align: center !important; }
[text-right] { text-align: right !important; }

[color-normal] { color: var(--font) !important; }
[red] { color: var(--red) !important; }
[orange] { color: var(--orange) !important; }
[yellow] { color: var(--yellow) !important; }
[green] { color: var(--green) !important; }
[blue] { color: var(--blue) !important; }
[navy] { color: var(--navy) !important; }
[purple] { color: var(--purple) !important; }
[turquoise] { color: var(--turquoise) !important; }
[skyblue] { color: var(--skyblue) !important; }
[pink] { color: var(--pink) !important; }

[highlight] {
  margin: 0 -2px -2px -2px;
  padding: 0 2px 2px 2px;

  color: var(--palette-3);
  border-radius: 4px;
  background-color: oklch(from var(--palette-3) l c h/0.15);
}
[highlight]:hover { background-color: oklch(from var(--palette-3) l c h/0.2); }

[highlight][color-normal] {
  color: var(--palette-3) !important;
  background-color: oklch(from var(--palette-3) l c h/0.15);
}
[highlight][red] { background-color: oklch(from var(--red) l c h/0.15); }
[highlight][orange] { background-color: oklch(from var(--orange) l c h/0.15); }
[highlight][yellow] { background-color: oklch(from var(--yellow) l c h/0.15); }
[highlight][green] { background-color: oklch(from var(--green) l c h/0.15); }
[highlight][blue] { background-color: oklch(from var(--blue) l c h/0.15); }
[highlight][navy] { background-color: oklch(from var(--navy) l c h/0.15); }
[highlight][purple] { background-color: oklch(from var(--purple) l c h/0.15); }
[highlight][turquoise] { background-color: oklch(from var(--turquoise) l c h/0.15); }
[highlight][skyblue] { background-color: oklch(from var(--skyblue) l c h/0.15); }
[highlight][pink] { background-color: oklch(from var(--pink) l c h/0.15); }

/* align-items 값 */
[align-start] { align-items: start !important; }
[align-center] { align-items: center !important; }
[align-end] { align-items: end !important; }

/* justify-content 값 */
[justify-start] { justify-content: start !important; }
[justify-center] { justify-content: center !important; }
[justify-end] { justify-content: end !important; }
[justify-around] { justify-content: space-around !important; }
[justify-between] { justify-content: space-between !important; }
[justify-around] { justify-content: space-around !important; }

/* 테이블 값 */
[table-fixed] { table-layout: fixed !important; }