@charset "UTF-8";
:root {
  /* 버튼 속성값 */
  --button-size: 48px;
  --button-padding: 14px;
  --button-gap: 4px;
  --button-radius: 24px;
}


/* 버튼 공통 */
button {
  display: flex;
  position: relative;
  gap: var(--button-gap);
  padding: var(--button-padding);
  place-items: center start;

  min-width: var(--button-size);
  height: var(--button-size);

  font-size: 11pt;
  color: var(--font);
  border: unset;
  border-radius: var(--button-radius);
  background-color: unset;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  content: "";

  transition: box-shadow var(--duration-ui); 
}

button::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  border-radius: inherit;
  background-color: var(--anti);
  opacity: 0;
  box-shadow: 0 0 0 var(--shadow);
  content: "";

  transition: opacity var(--duration-ui); 
}

button > * { color: inherit; }


/* 활성화된 버튼 */
button:not(:disabled) { cursor: pointer; }

button:not(:disabled)::before {
  border: solid 1px var(--sub);
  background-color: var(--sub);
}

button[filled]:not(:disabled) { color: var(--main); }
button[filled]:not(:disabled)::before {
  border: solid 1px var(--palette-3);
  background-color: var(--palette-3);
}

button[tonal]:not(:disabled) { color: var(--font); }
button[tonal]:not(:disabled)::before {
  border: solid 1px var(--palette-2);
  background-color: var(--palette-2);
}

button[outline]:not(:disabled) { color: var(--font); }
button[outline]:not(:disabled)::before {
  border: solid 1px var(--palette-4);
  background-color: unset;
}

button[blank]:not(:disabled) { color: var(--font); }
button[blank]:not(:disabled)::before {
  border: unset;
  background-color: unset;
}

button:not(:disabled):hover::before { box-shadow: 0 0 3px var(--shadow); }
button:not(:disabled):hover::after { opacity: 0.1; }
button:not(:disabled):active::after { opacity: 0.2; }


/* 비활성화된 버튼 */
button:disabled {
  color: var(--palette-3-gs);
  cursor: no-drop;
}

button:disabled::before {
  border: solid 1px var(--sub-gs);
  background-color: var(--sub-gs);
}

button[filled]:disabled { color: var(--palette-2-gs); }
button[filled]:disabled::before {
  border: solid 1px var(--palette-3-gs);
  background-color: var(--palette-3-gs);
}

button[tonal]:disabled { color: var(--palette-3-gs); }
button[tonal]:disabled::before {
  border: solid 1px var(--palette-2-gs);
  background-color: var(--palette-2-gs);
}

button[outline]:disabled { color: var(--palette-3-gs); }
button[outline]:disabled::before {
  border: solid 1px var(--palette-3-gs);
  background-color: unset;
}

button[blank]:disabled { color: var(--palette-3-gs); }
button[blank]:disabled::before {
  border: unset;
  background-color: unset;
}


/* 활성화된 색상 버튼 */
button[red]:not(:disabled) { color: var(--palette-1); }
button[red]:not(:disabled)::before {
  border: solid 1px var(--red);
  background-color: var(--red);
}

button[orange]:not(:disabled) { color: var(--palette-1); }
button[orange]::before {
  border: solid 1px var(--orange);
  background-color: var(--orange);
}

button[yellow]:not(:disabled) { color: var(--palette-5); }
button[yellow]::before {
  border: solid 1px var(--yellow);
  background-color: var(--yellow);
}

button[green]:not(:disabled) { color: var(--palette-5); }
button[green]::before {
  border: solid 1px var(--green);
  background-color: var(--green);
}

button[blue]:not(:disabled) { color: var(--palette-1); }
button[blue]::before {
  border: solid 1px var(--blue);
  background-color: var(--blue);
}

button[navy]:not(:disabled) { color: var(--palette-1); }
button[navy]::before {
  border: solid 1px var(--navy);
  background-color: var(--navy);
}

button[purple]:not(:disabled) { color: var(--palette-1); }
button[purple]::before {
  border: solid 1px var(--purple);
  background-color: var(--purple);
}

button[turquoise]:not(:disabled) { color: var(--palette-5); }
button[turquoise]::before {
  border: solid 1px var(--turquoise);
  background-color: var(--turquoise);
}

button[skyblue]:not(:disabled) { color: var(--palette-5); }
button[skyblue]::before {
  border: solid 1px var(--skyblue);
  background-color: var(--skyblue);
}

button[pink]:not(:disabled) { color: var(--palette-1); }
button[pink]::before {
  border: solid 1px var(--pink);
  background-color: var(--pink);
}


/* 비활성화된 색상 버튼 */
button[red]:disabled { color: var(--palette-4-gs); }
button[red]:disabled::before {
  border: solid 1px var(--red-gs);
  background-color: var(--red-gs);
}

button[orange]:disabled { color: var(--palette-4-gs); }
button[orange]:disabled::before {
  border: solid 1px var(--orange-gs);
  background-color: var(--orange-gs);
}

button[yellow]:disabled { color: var(--palette-4-gs); }
button[yellow]:disabled::before {
  border: solid 1px var(--yellow-gs);
  background-color: var(--yellow-gs);
}

button[green]:disabled { color: var(--palette-4-gs); }
button[green]:disabled::before {
  border: solid 1px var(--green-gs);
  background-color: var(--green-gs);
}

button[blue]:disabled { color: var(--palette-5-gs); }
button[blue]:disabled::before {
  border: solid 1px var(--blue-gs);
  background-color: var(--blue-gs);
}

button[navy]:disabled { color: var(--palette-3-gs); }
button[navy]:disabled::before {
  border: solid 1px var(--navy-gs);
  background-color: var(--navy-gs);
}

button[purple]:disabled { color: var(--palette-5-gs); }
button[purple]:disabled::before {
  border: solid 1px var(--purple-gs);
  background-color: var(--purple-gs);
}

button[turquoise]:disabled { color: var(--palette-4-gs); }
button[turquoise]:disabled::before {
  border: solid 1px var(--turquoise-gs);
  background-color: var(--turquoise-gs);
}

button[skyblue]:disabled { color: var(--palette-4-gs); }
button[skyblue]:disabled::before {
  border: solid 1px var(--skyblue-gs);
  background-color: var(--skyblue-gs);
}

button[pink]:disabled { color: var(--palette-4-gs); }
button[pink]:disabled::before {
  border: solid 1px var(--pink-gs);
  background-color: var(--pink-gs);
}


/* 버튼 내부 아이콘 */
button > i::before {
  font-size: 14pt;
  vertical-align: -6px;
}


/* 버튼 내부 문자열 */
button > span { margin: 0 2px; }