@charset "UTF-8";
.divline,
.divline-row {
  width: 2px;
  height: auto;

  background-color: var(--c-border);
}

.divline-column {
  width: auto;
  height: 2px;

  background-color: var(--c-border);
}