@charset "UTF-8";
i {
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: var(--icon);
}
il {
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: var(--icon);
}
:root {
  --placeholder-circle: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDUuMjkyIDUuMjkyIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtLjI2NSAtLjI2NSkiPjxjaXJjbGUgY3g9IjIuOTEiIGN5PSIyLjkxIiByPSIyLjM4MSIgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2Utd2lkdGg6LjUyOTE2NztzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLWRhc2hhcnJheTpub25lO3N0cm9rZS1vcGFjaXR5OjEiLz48cGF0aCBkPSJtMS4zMjMgMS4zMjMgMy4xNzUgMy4xNzVNNC40OTggMS4zMjMgMS4zMjMgNC40OTgiIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiMwMDA7c3Ryb2tlLXdpZHRoOi41MjkxNjc7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1kYXNoYXJyYXk6bm9uZTtzdHJva2Utb3BhY2l0eToxIi8+PHBhdGggZD0ibTIuMzgxIDEuNTg4LjUzLS41My41MjkuNTNaIiBzdHlsZT0iZmlsbDojMDAwO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDouNTI5MTY3O3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtZGFzaGFycmF5Om5vbmU7c3Ryb2tlLW9wYWNpdHk6MTtwYWludC1vcmRlcjpub3JtYWwiLz48L2c+PC9zdmc+");
  --placeholder: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDUuMjkyIDUuMjkyIj48cGF0aCBkPSJNLjc5NC43OTRoNC4yMzN2NC4yMzNILjc5NHpNLjc5NC43OTRsNC4yMzMgNC4yMzNNLjc5NCA1LjAyNyA1LjAyNy43OTQiIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiMwMDA7c3Ryb2tlLXdpZHRoOi41MjkxNjc7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1kYXNoYXJyYXk6bm9uZTtzdHJva2Utb3BhY2l0eToxO3BhaW50LW9yZGVyOm5vcm1hbCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLS4yNjUgLS4yNjUpIi8+PHBhdGggZD0ibTIuMzgxIDEuNTg4LjUzLS41My41MjkuNTNaIiBzdHlsZT0iZmlsbDojMDAwO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDouNTI5MTY3O3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtZGFzaGFycmF5Om5vbmU7c3Ryb2tlLW9wYWNpdHk6MTtwYWludC1vcmRlcjpub3JtYWw7ZmlsbC1vcGFjaXR5OjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0uMjY1IC0uMjY1KSIvPjwvc3ZnPg==");
}
i.placeholder-circle, il.placeholder-circle { mask-image: var(--placeholder-circle); }
i.placeholder, il.placeholder { mask-image: var(--placeholder); }